{% extends "layout.html" %}
{% block content %}
<form class="process-form" action="/trade_historical" method="post">
    <p>last_date <input type="datetime-local" id="last_date" name="last_date"></p>
    <select name="interval">
        <option disabled>Intervals</option>
        {% for interval in intervals %}
        <option value="{{ interval }}">{{interval}}</option>
        {% endfor %}
    </select>
    <p>number_of_intervals <input type="number" name="number_of_intervals" value=3 /></p>
    <p>ticker <input type="string" name="ticker" value="STX40.JO" /></p>
    <p>williams_lookback <input type="number" name="williams_lookback" value="75" /></p>
    <p>williams_overbought <input type="number" name="williams_overbought" value="-20" /></p>
    <p>williams_oversold <input type="number" name="williams_oversold" value="-80" /></p>
    <p>williams_buy_threshold <input type="number" step="any" name="williams_buy_threshold" value="-16" /></p>
    <p>williams_sell_threshold <input type="number" step="any" name="williams_sell_threshold" value="-92" /></p>
    <p>hull_ma_period <input type="number" name="hull_ma_period" value="21" /></p>
    <p>hull_ma_limit <input type="number" step="any" name="hull_ma_limit" value="1" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>

<script>
    var now = new Date();
    var year = now.getFullYear();
    var month = now.getMonth() + 1;
    var day = now.getDate();
    var hour = now.getHours() - 2;
    var minute = now.getMinutes();
    var second = now.getSeconds();
    var localDatetime = year + "-" +
                      (month < 10 ? "0" + month.toString() : month) + "-" +
                      (day < 10 ? "0" + day.toString() : day) + "T" +
                      (hour < 10 ? "0" + hour.toString() : hour) + ":" +
                      (minute < 10 ? "0" + minute.toString() : minute);
    var datetimeField = document.getElementById("last_date");
    datetimeField.value = localDatetime;
    datetimeField.max = localDatetime
</script>
{% endblock %}